h1,h3,h4,p {
    text-align: center;
}
h3 {
    color: rgb(14, 6, 6);
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
a {
    text-decoration: none;
}
button {
    color:blueviolet ;
    background-color: white;
}
textarea {
    color: black;
}


